@media screen and (max-width:770px) {
    .sectionTwo{

    }

    .sectionTwo    .Head{
        display: none;
    }

    .thirdHead{
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr ;
        column-gap: 20px;
        margin: 0.5rem;
    }

    .spaceOne, .spaceTwo{
        display: none;
    }

    .textContainerOne, .textContainerTwo{
        display: none;
    }
    
}



@media screen and (max-width:430px) {

    .thirdHead{
        height: 250vh;
        grid-template-columns: 1fr ;
        grid-template-rows: 1fr  1fr 1fr ;
        margin: 0.5rem;
        row-gap: 1rem;
    }

    .container-one, .container-two, .container-three{
        grid-column: span 1;
        grid-row: span 1;
    }
    

    
}